.game-collection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-self: center;
  margin: auto;

  &.carts {
    .cart {
      margin: 32px;

      transition: transform 0.5s;

      &:hover {
        transform: scale(2);
        z-index: 4;
      }
    }
  }

  &.grid {
    .content {
      margin: 32px;
      padding: 32px;
    }
  }

  &.list {
    justify-content: left;
    flex-direction: column;
    display: flex;

    .cart {
      //   margin: 32px;

      //   transition: transform 0.5s;

      //   &:hover {
      //     transform: scale(2);
      //     z-index: 4;
      //   }
    }

    .content {
      padding: 12px;
      border: solid 2px $borderColor;
      display: flex;
      flex-grow: 1;
      flex-direction: row;

      .cart-content {
        margin-right: 20px;
      }

      .list-content {
        display: flex;
        .title {
          //   font-size: 1.4rem;
          padding-top: 12px;
          text-decoration: none !important;
          line-height: 1.5rem;
          small {
            font-size: 1rem;
            line-height: 1rem;
            text-decoration: none !important;
          }
        }
      }
    }
  }
}
