@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@700&family=Roboto&display=swap');
@import '@drewbot/sass-flexbox-grid/public/sass-flexbox/scss/main.scss';

$loungeBrandDark: #1a1721;
$loungeBrandLight: #ffc89c;
$loungeBrandRed: #c8554e;

$borderColor: #322c3f;

$discordBrand: #404eed;
$githubBrand: #279841;

@import 'tooltip.scss';
@import 'btn.scss';
@import 'forms.scss';
@import 'comment-box.scss';
@import 'game-collection.scss';

body,
html {
  padding: 0;
  margin: 0;
  background-color: $loungeBrandDark;
  color: $loungeBrandLight;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  height: 100%;
  overflow-x: hidden;
}

.container {
  max-width: 820px;
  margin-left: auto;
  margin-right: auto;
}

.flex-grow {
  flex-grow: 1;
}

a {
  color: $loungeBrandRed;

  &:hover {
    color: lighten($loungeBrandRed, 10);
  }
}

.full-height {
  height: 100%;
}

.full-width {
  width: 100%;
}

.d-block {
  display: block;
}

.d-flex {
  display: flex;
}

.img-pixel {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

.text-caps {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.media-border {
  border: solid 2px $borderColor;
}

h1,
h2,
h3,
h4,
h5,
h6,
.title-font {
  font-family: 'Dosis', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

.title {
  font-size: 2rem;
  font-family: 'Dosis', sans-serif;
  font-weight: bold;
  text-transform: uppercase;

  small {
    font-size: 1.5rem;
    // font-style: italic;
  }
}

.mb-1 {
  margin-bottom: 12px;
}

.mb-2 {
  margin-bottom: 24px;
}

.mr-1 {
  margin-right: 12px;
}

.mr-2 {
  margin-right: 24px;
}

.ml-1 {
  margin-left: 12px;
}

.ml-2 {
  margin-left: 24px;
}

.mt-1 {
  margin-top: 12px;
}

.mt-2 {
  margin-top: 24px;
}

.pb-1 {
  padding-bottom: 12px;
}

.pb-2 {
  padding-bottom: 24px;
}

.border {
  width: 100%;
  height: 3px;
  background-color: #3f3031;
}

.dev-red {
  background-color: rgba(255, 0, 0, 0.3) !important;
}

.dev-green {
  background-color: rgba(0, 255, 0, 0.3) !important;
}

.dev-blue {
  background-color: rgba(0, 0, 255, 0.3) !important;
}
