@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@700&family=Roboto&display=swap');

@import '@drewbot/sass-flexbox-grid/public/sass-flexbox/scss/main.scss';

$loungeBrandDark: #1a1721;
$loungeBrandLight: #ffc89c;
body,
html {
  // height: 100%;
  padding: 0;
  margin: 0;
  // overflow: hidden;
  background-color: $loungeBrandDark;
  color: $loungeBrandLight;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

.app {
  // height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  flex-grow: 0;
}

.flex-spacer {
  flex-grow: 1;
}

a {
  color: darken($loungeBrandLight, 50);
}

.full-height {
  height: 100%;
}

a.btn,
div.btn {
  padding: 12px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Dosis', sans-serif;
  font-weight: bold;
  font-size: 1.3rem;
  transition: all 0.2s;

  &.solid {
    background-color: $loungeBrandLight;
    color: $loungeBrandDark;
  }
}

.text-caps {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

h1,
h2,
h3,
h4,
h5,
h6,
.title-font {
  font-family: 'Dosis', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

.title {
  font-size: 2rem;
}

.mb-1 {
  margin-bottom: 12px;
}

.mb-2 {
  margin-bottom: 24px;
}

.mt-1 {
  margin-top: 12px;
}

.mt-2 {
  margin-top: 24px;
}

.pb-1 {
  padding-bottom: 12px;
}

.pb-2 {
  padding-bottom: 24px;
}

.app-header .title {
  font-size: 4rem;
}

.dev-red {
  background-color: rgba(255, 0, 0, 0.3) !important;
}

.dev-green {
  background-color: rgba(0, 255, 0, 0.3) !important;
}

.dev-blue {
  background-color: rgba(0, 0, 255, 0.3) !important;
}
