.tooltip {
  $tooltipColor: #49415d;
  $tooltipTriangleSize: 12px;

  display: block !important;
  z-index: 10000;

  .tooltip-inner {
    background: $tooltipColor;
    color: white;
    border-radius: 16px;
    padding: 20px;
  }

  .tooltip-arrow {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    margin: $tooltipTriangleSize;
    border-color: $tooltipColor;
    z-index: 1;
    display: hidden;
  }

  // &[x-placement^='top'] {
  //   margin-bottom: $tooltipTriangleSize;

  //   .tooltip-arrow {
  //     border-width: $tooltipTriangleSize $tooltipTriangleSize 0
  //       $tooltipTriangleSize;
  //     border-left-color: transparent !important;
  //     border-right-color: transparent !important;
  //     border-bottom-color: transparent !important;
  //     bottom: -$tooltipTriangleSize;
  //     left: calc(50% - $tooltipTriangleSize);
  //     margin-top: 0;
  //     margin-bottom: 0;
  //   }
  // }

  // &[x-placement^='bottom'] {
  //   margin-top: $tooltipTriangleSize;

  //   .tooltip-arrow {
  //     border-width: 0 $tooltipTriangleSize $tooltipTriangleSize
  //       $tooltipTriangleSize;
  //     border-left-color: transparent !important;
  //     border-right-color: transparent !important;
  //     border-top-color: transparent !important;
  //     top: -$tooltipTriangleSize;
  //     left: calc(50% - $tooltipTriangleSize);
  //     margin-top: 0;
  //     margin-bottom: 0;
  //   }
  // }

  // &[x-placement^='right'] {
  //   margin-left: $tooltipTriangleSize;

  //   .tooltip-arrow {
  //     border-width: $tooltipTriangleSize $tooltipTriangleSize
  //       $tooltipTriangleSize 0;
  //     border-left-color: transparent !important;
  //     border-top-color: transparent !important;
  //     border-bottom-color: transparent !important;
  //     left: -$tooltipTriangleSize;
  //     top: calc(50% - $tooltipTriangleSize);
  //     margin-left: 0;
  //     margin-right: 0;
  //   }
  // }

  // &[x-placement^='left'] {
  //   margin-right: $tooltipTriangleSize;

  //   .tooltip-arrow {
  //     border-width: $tooltipTriangleSize 0 $tooltipTriangleSize
  //       $tooltipTriangleSize;
  //     border-top-color: transparent !important;
  //     border-right-color: transparent !important;
  //     border-bottom-color: transparent !important;
  //     right: -$tooltipTriangleSize;
  //     top: calc(50% - $tooltipTriangleSize);
  //     margin-left: 0;
  //     margin-right: 0;
  //   }

  &.popover {
    $color: #f9f9f9;

    .popover-inner {
      background: $color;
      color: black;
      padding: 24px;
      border-radius: $tooltipTriangleSize;
      box-shadow: 0 $tooltipTriangleSize 30px rgba(black, 0.1);
    }

    .popover-arrow {
      border-color: $color;
    }
  }

  &[aria-hidden='true'] {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.15s, visibility 0.15s;
  }

  &[aria-hidden='false'] {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.15s;
  }
}
